@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
.lato {
  font-family: "Lato", sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.bg-primary{
    background: rgba(229, 84, 115, 0.1);
}
.primary-color{
    color: rgb(39, 39, 39);
}
.secondary-color{
    color: rgba(39, 39, 39, 0.6);
}
.primary-font-size{
    font-size: 2.5rem;
}
.secondary-font-size{
    font-size: 2rem;
}

/* banner start  */

.header{
    margin-bottom: 50px;
}
.banner{
    width: 80%;
    margin: 0px auto;
    display: grid;
    padding: 20px 0px;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.banner-content{
    width: 95%;
}
.banner-content a{
    text-decoration: none;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.banner-paragraph{
    margin-bottom: 20px;
}
.btn{
    color: white;
    background-color: deeppink;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 10px;
}
.banner-image{
    width: 70%;
}
img.image{
    width: 100%;
    height: 100%;
}

/* banner end  */
/* feature section start  */
.feature{
    width: 80%;
    margin: 0px auto 50px auto;
}
.feature-content{
    width: 30%;
    margin: 0px auto 50px auto;
    text-align: center;
}
.feature-title{
    font-weight: bold;
}

.feature-image{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
    padding: 20px;
    max-height: 500px;
    
}
.feature-image .box{
    height: 80%;
    text-align: center;
}
.feature-image .box .box-child{
    height: 90%;
    padding: 30px;
    border-top-right-radius:50% ;
    border-top-left-radius: 50%;
}
#one{
    background-color:#f2dee8;
}
#two{
    background-color:#daf0f1;
}
#three{
    background-color:#e4ecdc;
}
p.fig{
    width: 40%;
    margin: 30px auto 0px auto;
}

/* feature section end  */
/* supprot section start  */
.support{
    width: 80%;
    height: 250px;
    margin: 0px auto 50px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background: rgba(39, 39, 39, 0.05);
    padding: 0px 130px;
}

.support-box-child{
    margin-bottom: 20px;
}
